@{
	ViewBag.Title = "All Users";
	Layout = "~/Views/Shared/_LayoutLTE.cshtml";
	//Layout = "~/Views/Shared/_Layout.cshtml";
	//Layout = null;
}

<h3 class="mt-5">All Users</h3>
<table id="users" class="display mt-3">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Telephone</th>
		</tr>
	</thead>
</table>

@section scripts
{
	<script>
		$(document).ready(function () {
			$('#users').DataTable({
				//serverSide: true,
				select: true,
				//select: {
				//	style: 'single',
				//	info: true
				//},
				ajax: {
					url: "/User/GetAllUsersJson",
					type: "GET",
					dataType: "json",
					dataSrc: ''
				},
				columns: [
					{ data: "Name" },
					{ data: "Email" },
					{ data: "Role" },
					{ data: "Telephone" }
				]
			});
		});
	</script>
}




