@{
	ViewBag.Title = "Dashboard";
	//Layout = "~/Views/Shared/_LayoutLTE.cshtml";
	Layout = "~/Views/Shared/_Layout.cshtml";
	//Layout = null;
}

@*<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
		<div class="container-fluid">
			<a class="navbar-brand">Libra Dashboard</a>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav d-flex">
					<label class="navbar-text mr-3">Hello @Model</label>
					<form class="d-flex">
						<button class="btn btn-outline-success" type="submit">Logout</button>
					</form>
				</div>
			</div>
		</div>
	</nav>*@

<table id="users" class="display mt-3">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Telephone</th>
		</tr>
	</thead>
</table>


@*<link href="//cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" rel="stylesheet" />*@
|

@section scripts
{
	
	
	<script>
			$(document).ready(function () {
				$('#users').DataTable({
					serverSide: true,
					select: true,
					select: {
						style: 'single',
						info: true
					},
					ajax: {
						url: "/User/GetAllUsersJson",
						type: "GET",
						dataType: "json",
						dataSrc: ''
					},
					columns: [
						{ data: "Name" },
						{ data: "Email" },
						{ data: "Role" },
						{ data: "Telephone" }
					]
				});
			});
	</script>
}




