@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<div class="mt-5" id="mainContainer">
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-6">

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@ViewBag.StatusGroupCount.NewIssues</h3>
                            <p>New Issues</p>
                        </div>
                        <div class="icon">
							<i class="fa-solid fa-chart-bar"></i></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@ViewBag.StatusGroupCount.AssignedIssues</h3>
                            <p>Pending Issues</p>
                        </div>
                        <div class="icon">
							<i class="fa-solid fa-spinner"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@ViewBag.StatusGroupCount.PendingIssues</h3>
                            <p>Assigned Issues</p>
                        </div>
                        <div class="icon">
							<i class="fa-solid fa-arrows-turn-right"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@ViewBag.StatusGroupCount.InProgressIssues</h3>
                            <p>In Progress Issues</p>
                        </div>
						<div class="icon">
							<i class="fa-solid fa-arrows-rotate"></i>
							@*<i class="ion ion-pie-graph"></i>*@
						</div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>