@{
	ViewBag.Title = "All Pos";
	Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<h3 class="mt-5">All Pos</h3>

<table id="pos" class="display mt-3">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Telephone</th>
			<th>Brand</th>
			<th>Status</th>
		</tr>
	</thead>
</table>
	
<script>
	$(document).ready(function () {
		$('#pos').DataTable({
			//serverSide: true,
			select: true,
			//select: {
			//	style: 'single',
			//	info: true
			//},
			ajax: {
				url: "/Pos/GetAllPosJson",
				type: "GET",
				dataType: "json",
				dataSrc: ''
			},
			columns: [
				{ data: "Name" },
				{ data: "FullAddress" },
				{ data: "Telephone" },
				{ data: "Brand" },
				{ data: "Status" }
			]
		});
	});
</script>
	

<!--<head>-->
    @*<script src="https://code.jquery.com/jquery-3.7.1.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>*@
    <!--<link href="https://code.jquery.com/jquery-3.7.1.js" />
    <link href="https://cdn.datatables.net/2.0.3/js/dataTables.js" />

</head>
<style>
    td.details-control {
        background: #f8f9fa; /* Light gray background */
        text-align: center; /* Center the text */
        color: #6c757d; /* Dark gray text */
        font-weight: bold; /* Make the text bold */
    }
</style>

<table id="pos" class="display mt-3">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Cellphone</th>
			<th>Brand</th>
			<th>Morning Program</th>
			<th>Afternoon Program</th>

		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Telephone</th>
			<th>Model</th>
			<th>Connection Type</th>
			<th>Days Closed</th>
			<th>Registering Date</th>
		</tr>
	</tfoot>
</table>

@section scripts
{
	<script>
		function format(d) {
			return (
				'Telephone: ' + d.Telephone + '<br>' +
				'Model: ' + d.Model + '<br>' +
				'Connection Type: ' + d.ConnectionType + '<br>' +
				'Registering Date: ' + d.InsertDate + '<br>' +
                'Days Closed: ' + d.ClosedDays
			);
		}

		$(document).ready(function () {
			$('#pos').DataTable({
				serverSide: true,
				select: true,
				responsive: true,
				//select: {
				//	style: 'single',
				//	info: true
				//},
				ajax: {
					url: "/Pos/GetAllPosJson",
					type: "GET",
					dataType: "json",
					dataSrc: ''
				},
				columns: [
					//{
					//	data: null,
					//	defaultContent: '+',
					//	orderable: false,
					//	className: 'details-control' // Add a class for styling
					//},
                    { data: "Name", "autoWidth": true },
                    { data: "FullAddress", "autoWidth": true },
                    { data: "Cellphone", "autoWidth": true },
                    { data: "Brand", "autoWidth": true },
                    { data: "MorningProgram", "autoWidth": true },
                    { data: "AfternoonProgram", "autoWidth": true }
					
				]
			});

			$('#pos tbody').on('click', 'td.details-control', function () {
				var tr = $(this).closest('tr');
				var row = table.row(tr);

				if (row.child.isShown()) {
					// This row is already open - close it
					row.child.hide();
					tr.removeClass('shown');
				} else {
					// Open this row
					row.child(format(row.data())).show();
					tr.addClass('shown');
				}
			});
		});
	</script>
}-->
