@{
    ViewBag.Title = "All Pos";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<h3 class="mt-5">All Pos</h3>
<div class="mb-2">
    <button type="button" id="editButton" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
    <button type="button" id="deleteButton" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit POS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    edit info here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-warning">Modify</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete POS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Delete <span id="deleteItemName"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

<table id="posList" class="display mt-3">
</table>

<script>
    $(document).ready(function () {
        var table = $('#posList').DataTable({
            select: true,
            ajax: {
                url: "/Pos/GetAllPosJson",
                type: "GET",
                dataType: "json",
                dataSrc: ''
            },
            columns: [
                { title: "Name", data: "Name" },
                { title: "Telephone", data: "Telephone" },
                { title: "Cellphone", data: "Cellphone" },
                { title: "Brand", data: "Brand" },
                { title: "Full Address", data: "FullAddress" }
            ]
        });

        $('#inputPosId, #inputPosName, #inputPosBrand, #inputFullAddress').on('input', function () {
            // Apply the filter and redraw the table
            table
                .column(0).search($('#inputPosId').val())
                .column(1).search($('#inputPosName').val())
                .column(4).search($('#inputPosBrand').val())
                .column(5).search($('#inputFullAddress').val())
                .draw();
        });



        $('#posList tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $('#editButton, #deleteButton').prop('disabled', true);  // Disable buttons
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $('#editButton, #deleteButton').prop('disabled', false);  // Enable buttons
            }
        });

        // Initially disable the buttons
        $('#editButton, #deleteButton').prop('disabled', true);

        $('#deleteButton').on('click', function () {
            var data = table.row('.selected').data();
            if (data) {
                $('#deleteItemName').text(data.Name);
                $('#deleteButton').data('posid', data.PosId);
            }
        });


        $('.btn-outline-danger').on('click', function () {
            var posId = $('#deleteButton').data('posid');
            $.ajax({
                //url: '/Pos/DeletePos/',
                url: '/Pos/DeletePos/' + posId,
                type: 'DELETE',
                data: { id: posId },
                success: function (data) {
                    table.row('.selected').remove().draw(false);
                    $('#deleteModal').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                }
            });
        });

    });


</script>


