/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.slight-blue-header {
    background-color: #D9EDF7;
}

.dark-blue-background {
    background-color: #3276B1;
    color: white;
}

.dark-blue-background-btn {
    background-color: #3276B1;
    color: white;
}

.dark-blue-background-btn:hover {
    background-color: #90CAF9; 
}

.dark-blue-border-color {
    border: 1px solid #3276B1; /* Set the border color to transparent */
    background-color: white; /* Set the background color */
    /*    box-shadow: 0 0 1px 1px #3276B1;*/
}

.dark-blue-font {
    color: #4985BA;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #ffcc00; /* Change to your desired hover color */
    color: #90CAF9; /* Optional: change text color on hover */
}

.table thead th {
    background-color: #3276B1; 
    color: white;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 17%;
}

.col3 {
    width: 17%;
}

.col4 {
    width: 17%;
}

.col5 {
    width: 17%;
}

.col6 {
    width: 22%;
}

/*.validation-message {
    display: flex;
    align-items: center;
}

.validation-message .fa-circle-exclamation {
    margin-right: 5px;*/ /* Adjust spacing as needed */
/*}*/
