@{
	Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<h3 class="accent-gray-dark mt-5">New Issue</h3>

@*@model LibraBll.DTOs.Pos.PosGetDTO*@
@model LibraBll.DTOs.Issue.IssueDTO

<style>
	.table thead th {
		background-color: #a6c5e4;
	}

	.col1 {
		width: 10%;
	}

	.col2 {
		width: 17%;
	}

	.col3 {
		width: 17%;
	}

	.col4 {
		width: 17%;
	}

	.col5 {
		width: 17%;
	}

	.col6 {
		width: 22%;
	}
</style>

@using (Html.BeginForm("OpenIssue", "Issue", FormMethod.Post, new { id = "OpenIssueForm" }))
{
	<div class="card mb-0">
		<div class="card-header" style="background-color: lightgray">
			Add Issue for POS
		</div>
		<div class="card-body">
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">POS Id</th>
							<th scope="col">Pos Name</th>
							<th scope="col">Telephone</th>
							<th scope="col">Cellphone</th>
							<th scope="col">Brand</th>
							<th scope="col">Addres</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="card mt-0">
		<div class="card-header" style="background-color: lightgray">
			Add Issue
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					<label for="inputState" class="form-label">Issue Type</label>
					<select class="form-select" id="inputGroupSelect01">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="inputState" class="form-label">Subclass</label>
					<select class="form-select" id="inputGroupSelect01">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>

				<div class="col-md-2">
					<label for="inputState" class="form-label">Problem</label>
					<select class="form-select" id="inputGroupSelect01">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="col-md-2">
					<label for="inputState" class="form-label">Priority</label>
					<select class="form-select" id="inputGroupSelect01">
						<option selected>Choose...</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="col-md-3">
					<label for="inputState" class="form-label">Status</label>
					<select class="form-select" id="inputGroupSelect01">
						<option selected>New</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label for="inputAddress" class="form-label">Problem Description</label>
					<div class="input-group">
						<textarea class="form-control" style="height: 110px;"></textarea>
					</div>
				</div>
				<div class="col-md-4">
					<label for="inputAddress" class="form-label">Solution</label>
					<div class="input-group">
						<textarea class="form-control" style="height: 110px;"></textarea>
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<label for="inputState" class="form-label">Assigned To:</label>
						<select class="form-select ml-3" id="inputGroupSelect01" style="width: 280px;">
							<option selected>Technical Group</option>
							<option value="1">Admin</option>s
						</select>
					</div>
					<div class="row">
						<label for="inputmemo" class="form-label">Memo</label>
						<div class="input-group">
							<div class="input-group-text"><i class="fas fa-info"></i></div>
							@Html.TextBox("inputMemo", null, new { @class = "form-control", placeholder = "Memo" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-start">
		<button type="submit" class="btn btn-primary mr-2">Open Issue</button>
		<button type="reset" class="btn btn-dark" onclick="resetForm()">Cancel</button>
	</div>

	<!--<div class="d-flex justify-content-start">-->
	@*<button type="button" class="btn btn-primary mr-2" onclick="openIssue()">Add Issue</button>*@
	<!--<button id="openIssue" class="btn btn-primary mr-2">Add Issue</button>-->
	@*<input type="button" id="openIssue" value="Open Issue" onclick="window.location.href='<%= Url.Action(" OpenIssue", "Issue" ) %>';" />*@
	<!--</div>-->
	//onclick="window.location.href='@Url.Action("OpenIssue", "Issue")';"
}


<script>
	var urlParams = new URLSearchParams(window.location.search);

	// Get the values of the parameters
	var posId = urlParams.get('PosId');
	var name = urlParams.get('Name');
	var telephone = urlParams.get('Telephone');
	var cellphone = urlParams.get('Cellphone');
	var city = urlParams.get('City');
	var fullAddress = urlParams.get('FullAddress');

	// Select the table row
	var row = document.querySelector('tbody tr');

	// Assign the values to the table cells
	row.querySelector('td:nth-child(1)').textContent = posId;
	row.querySelector('td:nth-child(2)').textContent = name;
	row.querySelector('td:nth-child(3)').textContent = telephone;
	row.querySelector('td:nth-child(4)').textContent = cellphone;
	row.querySelector('td:nth-child(5)').textContent = city;
	row.querySelector('td:nth-child(6)').textContent = fullAddress;
</script>

@*<script>
		function resetForm() {
			var form = document.getElementById("AddPosForm");
			form.reset();
		}
	</script>*@
